/* datestyle.css - CSS style sheet for datebench                              */
/*                                                                            */

/* -------------------------------------- Classes ----------------------------*/

*.button {
    background-color: #E6D8D1;
    font-weight: bold;
    margin: 10px;
}

.container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 40% 60%;
}

*.error {
    color: darkred;
}

.item1 {
    grid-column: 1 / 1;
  }

.item2 {
    grid-column: 2 / 2;
}

@media only screen and (max-width: 40em) {
    .container {
        grid-template-columns: 90% 10%;
    }

    .item2 {
        grid-column: 1 / 1;
    }
}

*.heading {
    font-weight: bold;
    background-color: #E6D8D1;
    font-size: medium;
    text-align: center;
}

*.label {
    font-weight: bold;
    background-color: #E6D8D1;
    font-size: medium;
    text-align: left;
}

*.logo {
    margin-right: 3%;
}

*.noborder {
    border-style: none;
}

/* ---------------------------  ID Styles ----------------------- */

#fullpage {
    max-width: 50em;
}


/* ---------------------------  Element Styles ------------------ */

article {
    margin-left: 7%;  
    margin-right: 10%;  
}


body {
    background-color: linen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

caption {
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}


footer {
    margin-top: 2em;
    margin-left: 7%;
}

h1 {
    font-weight: bold;
    vertical-align: middle;
    font-size: 2em;
    margin-bottom: 1em;
    margin-left: 1%;  
}

h2 {
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.75em;
}

ol {
    list-style: decimal outside none;
    margin-inline-start: 0;
    padding-inline-start: 40px;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

td {
    padding: 3px;
}

ul {
    list-style: disc outside none;
    margin-inline-start: 0;
    padding-inline-start: 40px;
}




