/* datestyle.css - CSS style sheet for datebench                              */
/*                                                                            */

/* -------------------------------------- Classes ----------------------------*/

*.bold {
    font-weight: bold;
}

*.button {
    background-color: #E6D8D1;
    font-weight: bold;
    margin: 10px;
}

*.center {
    text-align: center;
}

.container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 40% 60%;
}

*.error {
    color: darkred;
}

.item1 {
    grid-column: 1 / 1;
}

.item2 {
    grid-column: 2 / 2;
}

*.heading {
    font-weight: bold;
    background-color: #E6D8D1;
    font-size: medium;
    text-align: center;
}

*.label {
    font-weight: bold;
    background-color: #E6D8D1;
    font-size: medium;
    text-align: left;
}

*.logo {
    margin-right: 3%;
}

*.noborder {
    border-style: none;
}

*.table {
    font-family: monospace;
    font-size: 12px;
    width: 40em;
}

/* ---------------------------  Menu ----------------------- */

/*
* {
    box-sizing: border-box;
}
    */

nav {
    display: block;
}

article {
    display: block;
    clear: both;
}

nav[role="full-horizontal"] {
    width: 100%;

    ul {
        width: 100%;
        list-style: none;

        >li {
            position: relative;
            float: left;
            padding: .25em 1em;
            margin: 0.5em 0.75em;

            text-transform: uppercase;
            cursor: pointer;
            background: rgba(255, 255, 255, .8);
            text-align: center;
            border-radius: .75em;
            transition-duration: .3s;
            transition-timing-function: ease-in-out;
            transition-property: background, color, padding, border-radius;
            box-shadow:
                .1em -.1em 0 .1em rgba(0, 0, 0, .2),
                inset 0 0 0 .15em rgba(0, 0, 0, .4),
                -.1em .1em 0 .1em rgba(0, 0, 0, .2);

            &:after {
                position: absolute;
                z-index: -1;
                content: "";
                right: 0;
                border-radius: 50%;
                box-shadow:
                    1em 1em 0 2em linen;
            }

            &:last-child:after {
                box-shadow: none;
            }

            &:hover {
                background-color: #E6D8D1;
                padding-left: 3em;

                >a {
                    color: #fff;
                }
            }

            >a {
                color: #333;
                text-decoration: none;
                font-size: 0.8em;
                transition: color .3s ease-in-out;
            }
        }
    }
}

@media screen and (max-width: 40em) {
    .container {
        grid-template-columns: 90% 10%;
    }

    .item2 {
        grid-column: 1 / 1;
    }
}

/* small screen */
@media screen and (max-width: 40em) {
    nav[role="full-horizontal"] {
        ul>li {
            width: 50%;
        }
    }
}


/* ---------------------------  ID Styles ----------------------- */

#fullpage {
    max-width: 50em;
}


/* ---------------------------  Element Styles ------------------ */

article {
    margin-left: 7%;
    margin-right: 10%;
}


body {
    background-color: linen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

caption {
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

dt {
    margin-inline-start: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}

em {
    font-style: italic;
}

footer {
    margin-top: 2em;
    margin-left: 7%;
}

h1 {
    font-weight: bold;
    vertical-align: middle;
    font-size: 2em;
    margin-bottom: 1em;
    margin-left: 1%;
    color: #000066;
}

h2 {
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.75em;
}

label {
    display: block;
    margin-top: 10px;
    width: 150px;
}

li {
    margin-top: 1em;
}

input {
    display: block;
}

ol {
    list-style: decimal outside none;
    margin-inline-start: 0;
    padding-inline-start: 40px;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

td {
    padding: 3px;
}

ul {
    list-style: disc outside none;
    margin-inline-start: 0;
    padding-inline-start: 40px;
}
